.single {
  display: flex;
  width: 100%;
  .singleContainer {
    flex: 6;
    .backButton{
      margin-top: 10px;
      margin-left: 20px;
    }
    .breadcrumbs{
      padding-top: 20px;
      padding-left: 30px;
    }
    .top {
      padding: 20px;
      display: flex;
      gap: 20px;

      .left{
        flex: 0 0 420px;
        // padding: 20px;
        // -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        //   box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        .personalInformation {
          position: relative;
          padding: 20px;
          border-radius: 10px;
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  
          .editButton {
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px;
            font-size: 12px;
            color: #7451f8;
            background-color: #7551f818;
            cursor: pointer;
            border-radius: 0px 0px 0px 5px;
          }
  
          .item {
            display: flex;
            gap: 20px;
            
            .center{
              margin:auto;
              width: 80%;

              .details{
                text-align: center;
              }
              .widgetRow{
                display: flex;
                justify-content: space-between;
                color: rgb(106, 106, 106);

                .widgetRowItem{
                  text-align: center;
                  .widgetRowItemTitle{
                    font-size: 13px;
                    font-weight: bold;
                  }
                  .widgetRowItemInfo{
                    font-size: 20px;
                    font-weight: bold;
                  }
                  .widgetRowItemInfoIcon{
                    font-size: 20px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                  }
                }
              }
            }
            img{
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
            .itemImg {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              object-fit: cover;
            }
  
            .details {
              .itemTitle {
                margin-bottom: 10px;
                color: #555;
              }
  
              .detailItem {
                margin-bottom: 10px;
                font-size: 14px;
  
                .itemKey {
                  font-weight: bold;
                  color: gray;
                  margin-right: 5px;
                }
  
                .itemValue {
                  font-weight: 300;
                }
              }
            }
          }
        }
        .petInformation{
          border-radius: 20px;
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        }
        .carInformation{
          padding-top: 10px;
          padding-bottom: 10px;
          position: relative;
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          border-radius: 10px;

          .carInformationRow2{
            display: flex;
            margin-bottom: 10px;
            padding-top: 10px;
            padding-left: 30px;
            flex-direction: row;
            padding-right: 30px;
            justify-content: space-between;
            
            
            .carInformationRowTitle{
              color: rgb(95, 94, 94);
              display: flex;
              font-weight: bolder;
              align-items: center;
              flex-wrap: wrap;
            }
          }
          .carInformationRow{
            display: flex;
            margin-bottom: 10px;
            padding-top: 10px;
            padding-left: 30px;
            flex-direction: row;
            padding-right: 30px;
            padding-bottom: 10px;
            justify-content: space-between;
            
            
            .carInformationRowTitle{
              color: rgb(95, 94, 94);
              display: flex;
              font-weight: bolder;
              align-items: center;
              flex-wrap: wrap;
            }
          }
        }
        .ImagesSubmitted{
          margin-bottom: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 30px;
          border-radius: 10px;
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

          .image-row{
            display: flex;
            flex-direction:row;
            .image-set{

            }
          }

        }
      }
      

      .right {
        flex: 2;

        .widgets{
          display: flex;
          padding-right: 20px;
          padding-left: 20px;
          padding-bottom: 20px;
          gap: 20px;

          .widget {
            display: flex;
            justify-content: space-between;
            flex: 1;
            padding: 20px ;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            border-radius: 10px;
            height: 100px;
            width: 160px;
          
            .leftWidget,
            .rightWidget {
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .widgetButton{
                border: none;
                background-color: white;
                cursor: pointer;
              }
          
              .title {
                font-weight: bold;
                font-size: 14px;
                color: rgb(160, 160, 160);
              }
          
              .counter {
                font-size: 28px;
                font-weight: 300;
                text-align: center;
              }
          
              .link2 {
                width: max-content;
                font-size: 12px;
                border-bottom: 1px solid gray;
              }
          
              .percentage {
                display: flex;
                align-items: center;
                font-size: 14px;
          
                &.positive {
                  color: green;
                }
                &.negative {
                  color: red;
                }
              }
          
              .icon {
                font-size: 18px;
                padding: 5px;
                border-radius: 5px;
                align-self: flex-end;
              }
            }
          }
        }
        .tripContainer{
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          background-color: ghostwhite;
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          .tripHeader{
            color: white;
            font-weight: bolder;
            background-color: rgb(67, 160, 252);
            padding: 15px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }

          .tripBody{
            padding: 15px 15px 30px 15px; 
            height: 400px;
            overflow-y: auto;

            .tripTile{
              display: flex;
              flex-direction: row;
              border-radius: 7px;
              margin-bottom: 10px;
              padding: 10px 20px 10px 20px;
              justify-content: space-between;
              -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
              box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

              .tripTileTitle{
                display: flex;
                flex-direction: row;
                align-items: center;
                color:rgb(106, 106, 106);

                .tripTileBody{
                  display:flex;
                  flex-direction: column;

                  .tripTagSuccess{
                    display: flex;
                    font-size:13px;
                    flex-wrap: wrap;
                    color:#3B853E;
                    font-weight: bold;
                    align-items: center;
                  }
                  .tripTagCancel{
                    display: flex;
                    font-size:13px;
                    flex-wrap: wrap;
                    color:#D53B3B;
                    font-weight: bold;
                    align-items: center;
                  }
                }
              }
              .tripTileButton{
                display:flex;
                flex-direction: column;
                text-align: right;

                .tripLink{
                  width: 85px;
                  font-size:15px;
                  padding-top: 2px;
                  font-weight: bold;
                  text-align: center;
                  padding-bottom: 2px;
                  border-radius: 15px;
                  color:#4E6BAB;
                  border: solid 2px #4E6BAB;
                  background-color: #cddbfc;
                }
              }
            }
          }
        }
        .tripFooter{
          margin-top: 10px;
        }
      }
    }

    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 10px 20px;
    }

    .title {
      font-size: 16px;
      color: lightgray;
      margin-bottom: 20px;
    }
  }
}
